:root {
    --g1: rgb(107, 199, 164);
    --g2:rgb(134, 192, 196);
    --g3:rgb(160, 184, 228);
    --g4:rgb(137, 166, 221);
    --g5:rgb(113, 148, 214);
    --g6: rgb(65, 112, 200);
}

@keyframes background-pan{
    from{
        background-position: 0% center;
    }

    to{
        background-position: -200% center;
    }
}

body{
    background-color: black;
    font-family: 'Courier New', monospace;
    animation: background-pan 60s linear infinite;
    background: linear-gradient(
        to right,
        var(--g1),
        var(--g2),
        var(--g3),
        var(--g4),
        var(--g5),
        var(--g6),
        var(--g5),
        var(--g4),
        var(--g3),
        var(--g2),
        var(--g1)
    );
    background-size: 200%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    margin: 0;
    overflow: hidden;
}

.contenedorBotonCambio{
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
}

.rate{
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(180, 180, 180, 0.599);
    margin: 10px;
}

.programa{
    border-radius: 10px;
    background-color: rgba(144, 144, 144, 0.599);
    padding: 50px;
}

select{
    background-color: rgba(164, 250, 255, 0.439);
    font-size: 25px;
    border-radius: 10px;
    padding: 12px;
}

input{
    background-color: rgba(164, 250, 255, 0.439);
    font-size: 25px;
    border-radius: 10px;
    padding: 12px;
    text-align: right;
}
